<%= stylesheet_link_tag '//cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-flash-1.5.1/b-html5-1.5.1/datatables.min.css' %>
<%= javascript_include_tag '//cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-flash-1.5.1/b-html5-1.5.1/datatables.min.js' %>

<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Your App Users</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Here you can see and search through every user that has authenticated with your app.</p>
  </div>
</div>

<div class="container px-4 pb-5">
  <div class="row g-4 pb-5 row-cols-1 row-cols-lg-3">
    <div class="col-12">
      <div class="pb-5">
        <table class="table table-hover" id="users-table">
          <thead>
            <tr>
              <td>
                Email
              </td>
              <td>
                Admin?
              </td>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <p class="mb-0">
                    <%= user.email %>
                  </p>
                </td>
                <td>
                  <%= user.admin %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  
  if ( !document.querySelector( '#users-table_wrapper' ) ) {
    var usersTable = $('#users-table').DataTable({ 
      pageLength: 25,
      dom: 'Bfrtip',
      buttons: [
        'copy', 'csv', 'excel', 'pdf'
      ]
    });
  }

</script>
