<div class="row">
  <div class="col-sm-6 py-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pages</h5>
        <p class="card-text">Manage the Pages of this Application:</p>
        <a href="<%= pages_path %>" class="btn btn-primary">View all</a>
        <a href="<%= new_page_path %>" class="btn btn-outline-primary">Create</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 py-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Users</h5>
        <p class="card-text">Manage the Users of this Application:</p>
        <a href="<%= users_path %>" class="btn btn-primary">View all</a>
      </div>
    </div>
  </div>
</div>